# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
apps/web/.next/
apps/web/out/
apps/api/dist/
*.tsbuildinfo
next-env.d.ts

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
